<%- include partials/header.ejs %>
<script src="/FirstpageScript.js"></script>

	<body>
		<div id="main-wrapper">
      <div id="inner-wrapper">
        <div class="fixed-top">
          <header id="main-header" class="grid-container">
            <div class="grid-4">
              <h2 class="text-center">
              
			  </h2>
            </div>
            <div class="grid-6">
              <h2 class="text-center">  
                Share your playlists!
              </h2>
            </div>
            <div class="grid-4">
              <h2 class="text-center">
                
              </h2>
            </div>
          </header>
        </div>
        <div class="grid-container" id="main-content">
          <div class="grid-4" id="main-sidebar">
            <div class="search-area sidebar-component">
				<a class="icon-button grid-4 alpha playlist-handlers" id="create-playlist">Create a playlist</a>
				<form id="create-new-playlist-div" style="display:none" class="grid-4">
              		<h3 class="text-center"> Fill in the form and submit</h3>
					<input class="grid-3 omega search-field" placeholder="Playlist name" id="pname"/>
					<input class="grid-3 omega search-field" placeholder="Description..." id="pdescription"/>
					<select id="tag-select" class="search-field grid-3">
					  <option id="music" selected="selected">Music</option>
					  <option id="knowledge">Knowledge</option>
					  <option id="movies">Movies</option>
					  <option id="comedy">For the lulz</option>
					  <option id="other">Other</option>
					</select>	
              		<h3 class="text-center grid-3"> Freetags allow you to later find a collection of playlists by searching for the freetag</h3>	
					<input class="grid-3 omega search-field" placeholder="Freetag" id="pfreetag"/>
					<a class="icon-button grid-2 omega" id="submit">Submit</a>
				</form>
			</div>
          </div>
          <div class="grid-10 push-4">
            <div id="search-results">
					<a class="head-results list-item"> 
						<span class="grid-2"> Name </span>
						<span class="grid-1"> Videos </span>
						<span class="grid-2"> Category </span>
						<span class="grid-2"> Freetag </span>
						<span class="grid-2"> Description </span>
				 	</a><br>
             	 <% for(var i=0; i<playlists.length; i++) { %>
                	<% var plName = playlists[i].name; %>
                	<% var plVideos = playlists[i].videos[0]; %>
                	<% var plCategory = playlists[i].category; %>
                	<% var plDescription = playlists[i].description; %>
                	<% var plFreetag = playlists[i].freetag; %>
                	<% var plDate = new Date(playlists[i].date).toDateString(); %>
					<a class="list-item" href="/playlists/<%= plName %>"> 
					<span class="grid-2"> <%= plName %></span>
					<span class="grid-1"> <%= plVideos %></span>
					<span class="grid-2"> <%= plCategory %></span>
					<span class="grid-2"> #<%= plFreetag %></span>
					<span class="grid-2"> <%= plDescription %></span>
				 </a>
				<% } %>
            </div>
          </div>
        </div>
      </div>
	</div>
  <div class="message text-center" id="message-board"></div>
	</body>
 </html>
