<%- include partials/header.ejs %>
<script src="/socket.io/socket.io.js"></script>	
<script src="/PlaylistScript.js"></script>
	<body>
		<input type="hidden" id="name-div" value="<%=name %>"/>
		<input type="hidden" id="client-div" value="<%=client %>"/>
		<input type="hidden" id="host-div" value="<%=host %>"/>
		<input type="hidden" id="port-div" value="<%=port %>"/>
    <div id="overlay-background"></div>
	<iframe id="overlay-wrapper" src="http://<%=host %>:<%=port %>/add/?name=<%=name %>"></iframe>
    <div id="main-wrapper">
      <div id="inner-wrapper">
		<div class="fixed-top">
          <header id="main-header" class="grid-container">
            <div class="grid-4">
             <a id="add-video" class="icon-button grid-4 alpha playlist-handlers">Add new video </a>
            </div>
				<a class="head-results list-item grid-7"> 
					<span id="sort-category-1" class="grid-6 sort">
						<br><h2><%=name %></h2> 
					</span>
				</a>	
            </div>
          </header>
        </div>

        <div id="main-content" class="grid-container">
          <div id="main-sidebar" class="grid-4">
			<div id="player-container" class="sidebar-component">
          	<a id="add-new-to-queue" class="icon-button grid-2 alpha playlist-handlers">Add New2Q</a>
          	<a id="empty-queue" class="icon-button grid-2 alpha playlist-handlers">EmptyQ</a>
				<%- include partials/player.ejs %>
			</div>
          </div>
          <div class="grid-8 push-4">
            <div id="video-list"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="message text-center" id="message-board"></div>
	</body>
</html>
			
