<%- include partials/header.ejs %>
<script src="/socket.io/socket.io.js"></script>	
<script src="/javascripts/sharedPlaylist/index.js"></script>
<script src="/javascripts/sharedPlaylist/SharedFeatures.js"></script>
<script src="/javascripts/sharedPlaylist/PlaylistSocket.js"></script>
	
	<body>
		<input type="hidden" id="name-div" value="<%=name%>"/>
		<input type="hidden" id="client-div" value="<%=client%>"/>
		<input type="hidden" id="host-div" value="<%=host%>"/>
		<input type="hidden" id="port-div" value="<%=port%>"/>
    <div id="main-wrapper">
      <div id="inner-wrapper">
        <div id="main-content" class="grid-container">
          <div id="main-sidebar" class="grid-4">
            <div id="player-container" class="sidebar-component">
				<%- include partials/player.ejs %>
            </div>
          </div>
          <div class="grid-8">
            <div id="search-results"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="message text-center" id="message-board"></div>
	</body>
</html>
			
